@import 'section'
@import 'admin'
@import 'root'
@import 'default_class'
@import 'antd'
@import 'element'
@import 'design'
  
*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-size: 14px

body
  color: var(--text-primary)
  -webkit-tap-highlight-color: transparent
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important
  margin: 0 !important
  line-height: 1.5715 !important
  height: auto

p
  margin-bottom: 0

a
  cursor: pointer

.carousel__pagination-button::after
  background-color: #00bcc24e
.carousel__pagination-button--active::after
  background-color: #00BCC2

*:not(.not-css-scroll)
  &::selection
    background-color: #b2d5fc
    color: inherit
  &::-webkit-scrollbar-track-piece
    background-color: inherit
  &::-webkit-scrollbar
    width: 8px
    padding: 2px
    height: 8px
    background: inherit
  &::-webkit-scrollbar-thumb
    background-color: var(--scrollbar-thumb)
    border-radius: 8px
  &:focus
    outline: none

.flex
  display: flex

.flex-col
  flex-direction: column

.items-center
  align-items: center

.justify-center
  justify-content: center

.justify-between
  justify-content: space-between

.flex-1
  flex: 1 1 0

.absolute
  position: absolute

.relative
  position: relative

.w-full
  width: 100%

.h-full
  height: 100%