.cr-banner-sub-title
  width: 100%
  p
    max-width: 600px
    margin: auto
    font-size: 14px
    line-height: 22px
    text-align: center
    color: #7a7a7a

.cr-register
  max-width: 600px
  margin: auto
  padding: 30px
  background-color: #fff
  border: 1px solid #e9e9e9
  border-radius: 5px

.cr-content-form
  .form-group
    margin-bottom: 24px
    label
      margin-bottom: 9px
      color: #444
      font-size: 15px
      font-weight: 500
      letter-spacing: 0
      line-height: 1
    .cr-form-control
      width: 100%
      padding: 0.575rem 0.75rem
      display: block
      font-size: 16px
      font-weight: 400
      line-height: 1.5
      color: #000
      border: 1px solid #e9e9e9
      outline: none
      appearance: none
      border-radius: 5px
      &.ant-input-password
        display: inline-flex
  .remember
    color: #777
    font-size: 14px
    font-weight: 400
    letter-spacing: 0
    line-height: 1
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    line-height: 15px
    .link
      color: #777
    .custom
      margin: 0
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      label
        margin: 0
        position: relative
        cursor: pointer
        color: #777
        font-weight: 400
  .login-buttons
    text-align: center
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    button
      margin-right: 15px
      padding: 8px 20px
    .link
      padding: 8px 0
      color: #777

.cr-register-buttons
  text-align: center
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  .link
    padding: 8px 0
    color: #777

.section-login, .section-register
  padding: 100px 0
  .cr-banner
    margin-bottom: 15px
    text-align: center
    h2
      font-size: 32px
      font-weight: bold
      color: #2b2b2d
  .cr-banner-sub-title
    width: 100%
    p
      max-width: 600px
      margin: auto
      font-size: 14px
      line-height: 22px
      text-align: center

.cr-login
  max-width: 400px
  margin: auto
  padding: 30px
  background-color: #fff
  border: 1px solid #e9e9e9
  border-radius: 5px
  
.form-logo
  width: 100%
  margin-bottom: 30px
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center