.checkout-page
  display: flex
  gap: 20px
  padding: 64px 40px
  background: #F3F3F7
  .sect-card
    background: #fff
    border-radius: 16px
    height: fit-content
  .sect-1
    flex: 1
    padding: 12px
  .sect-2
    width: 360px
  .title
    font-size: 18px
  .form-radio
    .ant-radio-group
      width: 100%
      .radio-option
        padding: 12px 8px
        border: 1px solid #d9d9d9
        border-radius: 4px
        cursor: pointer
        &:hover
          border-color: var(--primary-v2)
  .submit-btn
    height: 44px
    background: var(--primary-v2)
    width: 160px
    cursor: pointer
    border-radius: 4px
    color: #fff
    display: flex
    align-items: center
    justify-content: center
    margin-left: auto
    transition: transform .3s ease
    &:hover
      transform: translateY(-1px)