.footer-1
  display: flex
  padding: 30px 15px
  gap: 20px
  align-items: center
  .footer-item
    display: flex
    align-items: center
    .icon
      width: 80px
      flex-shrink: 0
      padding: 16px
      img
        aspect-ratio: 1/1
    .text-1
      font-size: 15px
      font-weight: 600
      color: #ff0000
    .text-2
      font-size: 13px

.footer-2
  border-top: 1px solid #eee
  padding: 40px 15px
  font-size: 14px
  gap: 100px
  .footer-left
    flex: 0.4
  .footer-right
    flex: 0.6
    display: grid
    grid-template-columns: 1fr 1fr
    .right-item
      .title
        font-weight: 700
        margin-bottom: 12px
      .item
        margin-bottom: 6px
        cursor: pointer
        &:hover
          font-weight: 700