.modal-order
  &-prevent-click
    .ant-modal-body
      pointer-events: none
      
  &__title
    display: flex
    justify-content: space-between
    align-items: center
    &__id
      .ant-avatar
        border-radius: 4px
        font-weight: 600
        background-color: $primary !important
    &__status
      display: flex
      align-items: center
      &__label
        font-weight: 600
      &__tag
        padding: 1px 0.5rem
        border-radius: 4px
        margin-left: 0.5rem

    &__created
      display: flex
      align-items: center
      &__label
        font-weight: 600
      &__time
        margin-left: 0.5rem
        color: rgb(140 140 140 / 1)
    &__function
      display: flex
      margin-left: 1.5rem
      &__item
        margin-right: 0.75rem
        .ant-btn
          background: rgb(224 226 227 / 1)
    &__action
      display: flex
      .anticon
        cursor: pointer
        margin-left: 1rem
        font-size: 20px
        &:hover
          color: var(--primary-v2)
  .ant-modal-header
    border-color: var(--border-ui-1)
  .ant-modal-footer
    border-color: var(--border-ui-1)
    background-color: var(--bg-ui-2)
    .ant-btn
      @apply h-9 w-[120px]
      background-color: var(--bg-ui-2)
      color: var(--text-normal)
    .ant-btn-primary
      background-color: $primary !important
      color: #ffffff
      &:hover
        opacity: 0.9

.order-content
  display: grid
  gap: 0.75rem
  grid-template-columns: repeat(1,minmax(0,1fr))
  &__left
    grid-column: span 1 / span 1
    display: grid
    gap: 0.75rem
  &__right
    grid-column: span 1 / span 1
    gap: 0.75rem
  .ant-card
    border-color: var(--border-ui-1)
    .ant-card-head
      border-color: var(--border-ui-1)
      border: none

@media (min-width: 1024px)
  .order-content
    grid-template-columns: repeat(3, minmax(0, 1fr))
    &__left
      grid-column: span 2 / span 2